.wrapper{
    display: flex;
}
.item{
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
}
.name{
    font-size: 30px;
    font-weight: 600;
}

.number{
    font-size: 24px;
    font-weight: 500;
}